
    <div class="container"  >

      <form >
        <h2 class="form-signin-heading">Búsqueda</h2>
        <label for="search.name" class="sr-only">Usuario</label>
        <input type="text" ng-model="searchTerm" name="searchTerm" id="searchTerm" 
			placeholder="Términos a buscar">

		<div ng-click="search()" class="glyphicon glyphicon-search" aria-hidden="true"></div>
      </form>
	  
		  <div ng-show="listData!=null" class="well well-lg">

				 <table class="table table-striped">
					<thead>
					  <tr>
						<th>Nombre</th>
						<th>Especialidad</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="r in listData">
						<td>{{r.nombre}}</td>
						<td>{{r.especialidad}}</td>
						<td  ng-click="getDetail(r.id)" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></td>
					  </tr>
					  </tr>
					</tbody>
				  </table>

					
					<div ng-show="detailData!=null;" class="row well well-lg">
						<div class="col-sm-4">Nombre</div>
						<div class="col-sm-8">{{detailData.nombre}}</div>
						<div class="col-sm-4">autor</div>
						<div class="col-sm-8">{{detailData.autor}}</div>
						<div class="col-sm-4">especialidad</div>
						<div class="col-sm-8">{{detailData.especialidad}}</div>
						<div class="col-sm-4">precio</div>
						<div class="col-sm-8">{{detailData.precio}}</div>
						<div class="col-sm-4">descripcion</div>
						<div class="col-sm-8">{{detailData.descripcion}}</div>
					</div>


			</div>
		</div>
    </div>
